* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 Helvetica, sans-serif;

}

body {
    margin: 2em auto;
}

.container {
    display: flex;
    max-width: 65vw;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

span {
    text-align: center;
    padding: 1em;
    border: 1px solid black;
}

section.week span:nth-child(1),
section.week span:nth-child(7) {
    flex-basis: 100%;
    border: 1px solid red;
}

section.notes {
    flex-direction: column;
    justify-content: ;
}